<div class="row">
  <div class="col-md-8">
    <% topics_bookmarks_hash.each_key do |t| %>
      <% unless (topics_bookmarks_hash[t].empty? && controller.controller_name == "likes")%>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <div class="text-center">

              <%= link_to t.title, t %>
              </div>
            </h4>

              <div class="row">
                    <% topics_bookmarks_hash[t].each do |b| %>
                      <div class="col-xs-3">
                        <ul>
                          <li><small><%= link_to b.url %> </small></li>
                        </ul>
                      </div>
                    <% end %>
              </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
