
    <%= form_for [topic, bookmark], remote: true, html: {class: 'form-inline'} do |b| %>
    <div class="form-group">
      <%= b.text_field :url, class: 'form-control', placeholder: "http://bookmark.com" %>
    </div>

    <%= b.submit "Save", class: 'btn btn-xs btn-success' %>
    <% end %>
