<h1 class="text-center">All Blocmarks</h1>

<div class="row">
  <div class="col-md-8">
    <% @topics.each do |t| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <div class="text-center">
            <%= link_to t.title, t %>
            </div>
          </h4>
          <small>
            <div class="row">
              <% t.bookmarks.each do |b| %>
              <div class="col-xs-3">
                 <ul>
                  <li><small><%= link_to b.url %> </small></li>
                  <li><small>like/unlike status</small></li>
                </ul>
              </div>
              <% end %>
            </div>
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
      <% if user_signed_in? %>
        <%= link_to "New Topic", new_user_topic_path(current_user), class: 'btn btn-success' %> 
      <% end %>
  </div>
</div>
