<h1 class="text-center">All Blocmarks</h1>

<%= render partial: 'bookmarks/bookmarks_by_topic', locals: {topics_bookmarks_hash: @bookmarks_hash} %>

<div class="row">
  <div class="col-md-4">
      <% if user_signed_in? %>
        <%= link_to "New Topic", new_user_topic_path(current_user), class: 'btn btn-success' %>
      <% end %>
  </div>
</div>
