<h1 class="text-center">Only Liked Bookmarks!</h1>

<div class="row">
  <div class="col-md-8">
    <% @topics.each do |t| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <div class="text-center">
            <%= link_to t.title, t %>
            </div>
          </h4>
          <small>
            <div class="row">
              <% t.liked_bookmarks.each do |b| %>
              <div class="col-xs-3">
                 <ul>
                  <li><small><%= link_to b.url %> </small></li>

                </ul>
              </div>
              <% end %>
            </div>
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>
